<style>
   h1 {
    text-shadow: 2px 2px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #BDBDBD;
  }
</style>

<div class="container">
  <div class="row">
    <h1 class="title">Edit User</h1>
  </div>
  <%= render "form", user: @user %>
</div>